<!DOCTYPE html> 
<html>
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="Headerrow">
    <ul >
        <li><a href="http://youtube.com/"><i class="fa fa-youtube"></i></a></li>
        <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
    </ul>
    
  </div>
  <div class="logorow">
      <img src="U:\Adidda\adidda_logo.jpg" alt="" class="footer_logo"/> 
    </div>
  <div class="topnav" id="myTopnav">
      <a href="#home">Home</a>
      <a href="#sports">Sports</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

<!-- Slider html  starting -->

    <div class="CSSgal">
        
          <!-- Don't wrap targets in parent -->
          <s id="s1"></s> 
          <s id="s2"></s>
          <s id="s3"></s>
          <s id="s4"></s>
        
          <div class="slider">
            <div style="background-image:url('//d2njx87fm2ttul.cloudfront.net/images/default-source/athletes/ellis-langridge.jpg?sfvrsn=ee015093_0');"></div>
            <div style="background-image:url('//image3.mouthshut.com/images/Restaurant/Photo/-69618_17479.jpg');"></div>
            <div style="background:#fc5;">Slide 3</div>
            <div style="background:#f5c;">Slide 4</div>
          </div>
          
          <div class="prevNext">
            <div><a href="#s4">4</a><a href="#s2">2</a></div>
            <div><a href="#s1">1</a><a href="#s3">3</a></div>
            <div><a href="#s2">2</a><a href="#s4">4</a></div>
            <div><a href="#s3">3</a><a href="#s1">1</a></div>
          </div>
        
          <div class="bullets">
            <a href="#s1">1</a>
            <a href="#s2">2</a>
            <a href="#s3">3</a>
            <a href="#s4">4</a>
          </div>
        
        </div>

<!-- Slider html  Ending -->

<!-- CSS Grid -->

<div class="grid1">
  <div><p>First</p></div>
  <div><p>Second</p></div>
  <div><p>Third</p></div>
</div>

<div class="grid2">
    <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio animi necessitatibus quisquam, cumque quasi dolore eveniet obcaecati, ad quia dolorum harum sequi voluptatibus architecto labore cum nemo expedita? Eos quo exercitationem vel, quis iste corrupti molestias quod amet aperiam? Nulla!</p></div>
    
  </div>
  

</body>
</html>
